* {
	box-sizing: border-box;
}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body {
	background-color: white;
}

.telephone {
	background-color: #EEECEF;
	color: #222222;
	padding: 10px;
	text-decoration: none;
}

.bouton {
	background-color: #222222;
	color: #EEECEF;
	padding: 15px;
	margin: 10px;
	width: fit-content;

	a {
		color: #EEECEF;
	}
}

a:link {
	text-decoration: none;
}

.black-box {
	background-color: #222222;
	color: #EEECEF;
	padding: 30px;
	font-size: xx-large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




/* Mise en page (positionnement)
========================================================================== */

.container {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.title-page {
	font-size: x-large;
	display: flex;
	align-items: center;

	p {
		font-size: smaller;
	}
}

.employee-txt {
	text-align: center;
	padding-bottom: 50px;
}


/* Header / Navigations / Footer 
========================================================================== */

header {
	background-color: #222222;

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px;

		li {
			display: inline-block;
			align-items: center;
			margin: 5px;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

			a {
				color: aliceblue;
				text-decoration: none;
			}
		}

		img {
			width: 250px;
		}

	}
}

.black-footer {
	background-color: #222222;
	padding: 10px;
	color: #EEECEF;

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: large;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
}

.white-footer {
	padding: 10px;

	div {
		display: flex;
		justify-content: center;
		font-size: large;
	}
}

/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */
.grid-4col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
}

.grid-3col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2col {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 5px;
}

.grid6 {
	grid-column: 3 / span 2;
	grid-row: 1 / span 2;
	width: 100%;
}

.grid3 {
	grid-row: 3;
	grid-column: 3;
	width: 100%;
}

.grid4 {
	grid-row: 3;
	grid-column: 4;
	width: 100%;
}

.fieldset {
	grid-column: 1 / span 4;
	grid-row: 2 / span 2;
}

.gridimg {
	list-style-type: none;
}

.table {
	border: #222222;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	width: 100%;
	font-size: larger;
	text-align: center;

	th {
		background-color: darkgray;
		padding: 10px;
		margin: 10px;
	}

	td {
		background-color: #EEECEF;
		padding: 10px;
		margin: 10px;
	}
}

/* Formulaires
========================================================================== */

.connexion {
	background-color: darkgrey;
	font-size: x-large;
	width: 50%;
}

.champ-large {
	display: block;
	width: 100%;
}

fieldset section {
	margin-bottom: 270px;
}

/* Règles spécifiques aux pages
========================================================================== */

.profilepic {
	width: 400px;
}

.g-box {
	background-color: lightgray;
	padding: 10px;

	h2 {
		font-weight: 700;
		font-size: xx-large;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
	}

	section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: larger;
		border-bottom-width: medium;
		border-bottom-style: solid;
		border-bottom-color: #222222;
	}
}